.containerTrading {
  width: 100%;
  height: 100%;
  

  .title {
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      margin: 20px 0;
  }

  .trending {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      background-color: #ffffff;
      padding: 60px;
      gap: 70px 60px;
      
      .trendingItem {
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          text-align: center;
         
          a {
              background-image: linear-gradient(
                to right,
                #20586d,
                #20586d 50%,
                #000 50%
              );
              background-size: 200% 100%;
              background-position: -100%;
              display: inline-block;
              padding: 5px 0;
              position: relative;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: all 0.3s ease-in-out;
            }
            
            a:before{
              content: '';
              background: #266177;
              display: block;
              position: absolute;
              bottom: -3px;
              left: 0;
              width: 0;
              height: 3px;
              transition: all 0.3s ease-in-out;
            }
            
            a:hover {
             background-position: 0;
            }
            
            a:hover::before{
              width: 100%;
            }
       
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            
          }
      }
  }
}

.containerBtn {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin-bottom: 30px;

}