.buttonBack {
    border: none; 
    background-color: #4CAF50; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 12px; 
    cursor: pointer; 
    border-radius: 4px;
}

.buttonBack:hover {
    background-color: #45a049
}